.Movies
{
    display: flex;
    flex-direction: row;
}
.MovieCard	
{
    width: 380px;
}

.imagen
{
    display: flex;
    justify-content: center;
}

.BotonesCard
{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly
}

.titulo {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
  
/* RESPONSIVE WEB DESIGN */
@media (max-width: 767px) {
    .Movies {
        justify-content: center; 
    }

    .MovieCard {
        margin: 10px;
    }

    .BotonesCard {
        flex-direction: row; 
        justify-content: space-around;
    }
}