.Movies
{
    display: flex;
    flex-direction: row;
}

.BotonesCard
{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly
}

/* RESPONSIVE WEB DESIGN */
@media (max-width: 767px) {
    .Movies {
        justify-content: center; 
    }

    .MovieCard {
        margin: 10px;
    }

    .BotonesCard {
        flex-direction: row; 
        justify-content: space-around;
    }
}