.Header
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: black;
    padding:  10px;
}

.ElementosHeader{
    text-decoration: none;
    color: white;
}